e-Buddha_Beads.xcodeproj/project.xcworkspace/xcuserdata/jerry.xcuserdatad/UserInterfaceState.xcuserstate
e-Buddha_Beads.xcodeproj/project.xcworkspace/xcuserdata/jerry.xcuserdatad/UserInterfaceState.xcuserstate
e-Buddha_Beads.xcodeproj/xcuserdata/jerry.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
*.xcuserstate

.DS_Store
